Repository Renegades-Studio/react-native-tickle: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types-root, types-example

lint:
  run: npx eslint {staged_files}

types-root:
  run: npx tsc --noEmit

types-example:
  run: cd example && npx tsc --noEmit

feat: improve visualizations
  bun.lock
  example/package.json
  example/src/components/RecordingTimeline.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/utils/hapticPlayback.ts
Due: lint, types-example

chore: remove comments
  example/src/components/ReText.tsx
  example/src/components/RecordingTimeline.tsx
  example/src/components/RecordingsList.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/hooks/useAnimatedInterval.ts
  example/src/hooks/useAnimatedTime.ts
  example/src/screens/Recorder.tsx
  example/src/types/recording.ts
  example/src/utils/hapticPlayback.ts
Due: lint, types-example

fix: avoid maximum stack errors
  example/src/components/RecordingTimeline.tsx
Due: lint, types-example

fix: papercuts
  example/src/components/RecordingTimeline.tsx
Due: lint, types-example

feat: encapsulate unboxing/boxing logic
  example/src/components/ContinuousPalette.tsx
  example/src/components/MiniContinuousPalette.tsx
  example/src/components/MiniTransientPalette.tsx
  example/src/components/RecordingTimeline.tsx
  example/src/components/TransientPalette.tsx
  example/src/contexts/RecorderContext.tsx
  src/index.tsx
Due: lint, types-example

fix: android issues
  .yarnrc.yml
  android/src/main/java/com/margelo/nitro/ahap/Ahap.kt
  bun.lock
  bunfig.toml
  example/bun.lock
  example/src/components/ContinuousPalette.tsx
  example/src/components/MiniContinuousPalette.tsx
  example/src/components/MiniTransientPalette.tsx
  example/src/components/TransientPalette.tsx
  package.json
  src/index.tsx
Due: lint, types-example

feat: persist recordings
  example/bun.lock
  example/package.json
  example/src/contexts/RecorderContext.tsx
  example/src/utils/storage.ts
Due: lint, types-example

feat: allow export
  example/src/components/RecordingItem.tsx
Due: lint, types-example

feat: allow importing haptics
  example/app/_layout.tsx
  example/app/import-modal.tsx
  example/bun.lock
  example/package.json
  example/src/components/RecordingsList.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/schemas/recordingSchema.ts
  example/src/screens/Recorder.tsx
Due: lint, types-example

feat: allow renaming the recordings
  example/src/components/RecordButton.tsx
  example/src/components/RecordingItem.tsx
  example/src/components/RecordingsList.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/screens/Recorder.tsx
Due: lint, types-example

Initial commit
  LICENSE
Due: none

feat: update links
  example/app.json
  package.json
Due: none

feat: configure eas
  example/app.json
  example/eas.json
Due: none

fix: nitrogen command
  example/app.json
  example/package.json
  package.json
  scripts/postinstall.sh
Due: none

fix: ci
  nitro.json
Due: none

feat: polish api and name
  CONTRIBUTING.md
  README.md
  bun.lock
  example/app.json
  example/app/_layout.tsx
  example/assets/app-icon.png
  example/babel.config.js
  example/bun.lock
  example/package.json
  example/src/components/ContinuousPalette.tsx
  example/src/components/MiniContinuousPalette.tsx
  example/src/components/MiniTransientPalette.tsx
  example/src/components/RecordingTimeline.tsx
  example/src/components/TransientPalette.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/screens/Playground.tsx
  example/src/types/recording.ts
  example/src/utils/hapticPlayback.ts
  example/tsconfig.json
  package.json
  scripts/postinstall.sh
  src/Ahap.nitro.ts
  src/index.tsx
  tsconfig.json
Due: lint, types-example

fix: use discriminated union for duration
  README.md
  src/Ahap.nitro.ts
  src/index.tsx
Due: lint

fix: continuous player mode not working
  example/src/components/ContinuousPalette.tsx
  example/src/components/MiniContinuousPalette.tsx
  example/src/schemas/recordingSchema.ts
  example/src/types/recording.ts
Due: lint, types-example

feat: refactor time to be in millisecond
  README.md
  example/src/components/RecordingTimeline.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/screens/Recorder.tsx
  example/src/utils/hapticPlayback.ts
  ios/Ahap.swift
Due: lint, types-example

feat: improve continuous player api
  android/src/main/java/com/margelo/nitro/ahap/Ahap.kt
  example/src/components/ContinuousPalette.tsx
  example/src/components/MiniContinuousPalette.tsx
  example/src/contexts/RecorderContext.tsx
  ios/Ahap.swift
  ios/AhapUtils.swift
  src/Ahap.nitro.ts
  src/index.tsx
Due: lint, types-example

feat: recorder optimizations
  example/app/import-modal.tsx
  example/src/components/RecordingItem.tsx
  example/src/components/RecordingsList.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/schemas/recordingSchema.ts
  example/src/screens/Recorder.tsx
  example/src/types/recording.ts
Due: lint, types-example

feat: ui papercuts
  example/app/import-modal.tsx
  example/src/components/RecordingItem.tsx
  example/src/components/RecordingsList.tsx
Due: lint, types-example

feat: consolidate theme colors
  example/app/_layout.tsx
  example/app/import-modal.tsx
  example/app/index.tsx
  example/app/playground.tsx
  example/app/recorder.tsx
  example/src/components/MiniContinuousPalette.tsx
  example/src/components/MiniTransientPalette.tsx
  example/src/components/RecordButton.tsx
  example/src/components/RecordingItem.tsx
  example/src/components/RecordingTimeline.tsx
  example/src/components/RecordingsList.tsx
  example/src/contexts/ThemeContext.tsx
  example/src/screens/ImportModal.tsx
  example/src/screens/Menu.tsx
  example/src/screens/Playground.tsx
  example/src/screens/Recorder.tsx
Due: lint, types-example

feat: updated bundle id
  example/app.json
Due: none

feat: initial composer version
  example/app/_layout.tsx
  example/app/composer.tsx
  example/bun.lock
  example/package.json
  example/src/components/ComposerActionBar.tsx
  example/src/components/ComposerTimeline.tsx
  example/src/components/EventEditorPanel.tsx
  example/src/components/EventNavigation.tsx
  example/src/contexts/ComposerContext.tsx
  example/src/screens/Composer.tsx
  example/src/screens/Menu.tsx
  example/src/types/composer.ts
  example/src/utils/storage.ts
Due: lint, types-example

fix: composer issues
  example/src/components/ComposerTimeline.tsx
  example/src/components/EventEditorPanel.tsx
  example/src/components/EventNavigation.tsx
  example/src/components/PanInput.tsx
  example/src/contexts/ComposerContext.tsx
  example/src/screens/Composer.tsx
Due: lint, types-example

fix: papercuts
  example/src/components/ComposerTimeline.tsx
  example/src/components/EventEditorPanel.tsx
  example/src/components/PanInput.tsx
  example/src/contexts/ThemeContext.tsx
Due: lint, types-example

fix: some UI papercuts
  example/app.json
  example/bun.lock
  example/package.json
  example/src/components/ComposerActionBar.tsx
  example/src/components/EventEditorPanel.tsx
  example/src/components/RecordingItem.tsx
  example/src/components/RecordingsList.tsx
  example/src/screens/ImportModal.tsx
Due: lint, types-example

fix: composer minor bugs
  example/src/components/EventEditorPanel.tsx
  example/src/components/EventNavigation.tsx
  example/src/components/PanInput.tsx
  example/src/contexts/ComposerContext.tsx
  example/src/screens/Composer.tsx
Due: lint, types-example

feat: list composed items
  example/app/_layout.tsx
  example/app/composer-import-modal.tsx
  example/app/compositions-list.tsx
  example/bun.lock
  example/package.json
  example/src/components/ComposerActionBar.tsx
  example/src/components/CompositionItem.tsx
  example/src/contexts/ComposerContext.tsx
  example/src/hooks/stateRef.ts
  example/src/screens/Composer.tsx
  example/src/screens/ComposerImportModal.tsx
  example/src/screens/CompositionsList.tsx
  example/src/stores/compositionsStore.ts
  example/src/utils/zustand.ts
Due: lint, types-example

feat: update copies
  example/src/screens/Composer.tsx
  example/src/screens/Menu.tsx
  example/src/screens/Recorder.tsx
Due: lint, types-example

fix: continuous mode not working after putting app in background
  ios/AhapUtils.swift
Due: none

fix: ui papercuts
  example/app/_layout.tsx
  example/app/library-modal.tsx
  example/assets/haptic-compositions.ts
  example/src/components/ComposerActionBar.tsx
  example/src/components/CompositionItem.tsx
  example/src/components/RecordingsList.tsx
  example/src/contexts/ComposerContext.tsx
  example/src/contexts/RecorderContext.tsx
  example/src/contexts/ThemeContext.tsx
  example/src/screens/Composer.tsx
  example/src/screens/ComposerImportModal.tsx
  example/src/screens/CompositionsList.tsx
  example/src/screens/ImportModal.tsx
  example/src/screens/LibraryModal.tsx
Due: lint, types-example

fix: final papercuts
  example/app/_layout.tsx
  example/assets/haptic-compositions.ts
  example/src/components/RecordingsList.tsx
  example/src/screens/LibraryModal.tsx
Due: lint, types-example

fix: conflict between transition and continuous haptics
  README.md
  example/src/contexts/RecorderContext.tsx
  ios/Ahap.swift
Due: lint, types-example

fix: minor UI papercuts
  example/src/components/RecordingItem.tsx
  example/src/components/RecordingsList.tsx
Due: lint, types-example

feat: added native toggle to turn haptics on/off
  README.md
  example/src/screens/Menu.tsx
  ios/Ahap.swift
  ios/AhapUtils.swift
  src/Ahap.nitro.ts
  src/index.tsx
Due: lint, types-example

feat: added system haptics
  README.md
  example/app/_layout.tsx
  example/app/system-haptics.tsx
  example/src/screens/Menu.tsx
  example/src/screens/SystemHaptics.tsx
  ios/Ahap.swift
  src/Ahap.nitro.ts
  src/index.tsx
Due: lint, types-example

fix: android compilation and runtime issues
  android/build.gradle
  android/src/main/java/com/margelo/nitro/ahap/Ahap.kt
  example/bun.lock
  example/package.json
Due: none

chore: disabled gh actions temporarily
  .github/workflows/ci.yml.disabled
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types-root: any of: src/**/*.{ts,tsx}
  types-example: any of: example/**/*.{ts,tsx}
